body {
  margin: 0;
  font-family: "Courier New", Courier, nonospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(238, 128, 109), rgb(88, 143, 174));
}

button {
  cursor: pointer;
}